*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
__pycache__/digit_recognizer_layers.cpython-36.pyc
__pycache__/digit_recognizer_model.cpython-36.pyc
*.pyc
*.pyc
*.pyc
data/first_image_pass_first_cnnlayer_with_relu_maxpool_outchannel_5_with_topmost_original_image.pdf
*.tar
*.Yash
